<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>viabill</name>
    <displayName><![CDATA[ViaBill]]></displayName>
    <version><![CDATA[9.1.0]]></version>
    <description><![CDATA[ViaBill Official - Try, before you buy!]]></description>
    <author><![CDATA[Written for or by ViaBill]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>